<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miapp.controlpersonas_kotlin">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".actionselector.ActionSelectorActivity"/>
        <activity android:name=".updateregistrer.UpdateRegistrerActivity"/>
        <activity android:name=".deleteregistrer.DeleteRegistrerActivity"/>
        <activity android:name=".readregistrer.ReadRegistrerActivity"/>
        <activity android:name=".createregistrer.CreateRegistrerActivity"/>
        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>